.container{
  background-color: black;
}

.subContainer{
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.itemGroup{
  display: flex;
  justify-content: space-around;
}

.item{
  color: white;
  display: block;
}