.container{
  background-color: black;
  color: white;
  min-height: 40px;
}

a{
  text-align: center;
  vertical-align: middle;
}

.subContainer{
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.itemGroup{
  display: flex;
  align-items: center;
}

.leftItemGroup{
  composes : itemGroup;
  width: 100%;
}

.item{
  display: flex;
  align-items: center;
  height: 40px;
  white-space: nowrap;
  margin: 0px 15px;
}

.itemRight{
  composes: item;
  margin-right: 5px;
}

.itemLeft{
  composes: item;
  margin-left: 5px;
}

.searchBarItem{
  composes : item;
  flex: 1;
}

.pictureItem{
  display: flex;
  align-items: center;
  height: 40px;
}