.dropDown{
  position: relative;
}

a{
  color: inherit;
  text-decoration: none;
  text-align: right;
  cursor: pointer;
}


.dropDownBtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropDownContent{
  padding: 5px;
  background-color: black;
  position: absolute;
  right: 0px;
  left: auto;
  border: 1px solid black;
  width: 100px;
}

.left{
  composes : dropDownContent;
  right: auto;
  left: 0px;
}

.dropDownItem{
  color: white;
  text-align: right;
  margin: 0px 5px;
}

.dropDownItem:hover{
  color: yellow;
}

.childrenHolder{
  display: flex;
  align-items: center;
}

.children{
  margin: 0px 2.5px;
}